@model IEnumerable<KutuphanePaneli.Models.TblKategori>

@{
    ViewData["Title"] = "Kategoriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="h3 mb-2 text-gray-800"> Kategoriler</h1>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"> <a asp-controller="Kategori" asp-action="KategoriEkle" class="btn btn-info">Yeni Kategori Ekle</a></h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Ad)
                        </th>
                        <th>

                        </th>
                        <th>

                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ad)
                            </td>
                            <td>
                                @Html.ActionLink("Guncelle", "KategoriGetir", "Kategori",
                                    new { id = item.Id },
                                    new { @class = "btn btn-success" })
                            </td>
                            <td>

                                @Html.ActionLink("Sil", "KategoriSil", "Kategori",
                                new { id = item.Id },
                                new { @class = "btn btn-danger" }

                               )

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            

        </div>
    </div>
</div>